<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>AutorCarte</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <div class="tablediv">
    <table>
        <tr>
            <th>idAutor</th>
            <th>idCarte</th>
            <th>pozAutor</th>
            <th>Delete</th>
        </tr>
        <% for(var i = 0; i < autorcarte_ui.length; i++) { %>
            <tr>
                <form id="deleteForm<%=i%>" action="/deleteAutorCarte" method="post"></form>
                <form action="views/autorcarte" method="post"></form>
                    <td>
                        <%=autorcarte_ui[i].idAutor %>
                        <input type="hidden" form="deleteForm<%=i%>" name="idAutorV" value="<%=autorcarte_ui[i].idAutor %>">
                    </td>
                    <td>
                        <%=autorcarte_ui[i].idCarte %>
                        <input type="hidden" form="deleteForm<%=i%>" name="idCarteV" value="<%=autorcarte_ui[i].idCarte %>">
                    </td>
                    <td>
                        <%=autorcarte_ui[i].pozAutor %>
                    </td>
                    <td>
                        <button form="deleteForm<%=i%>">X</button>
                    </td>
            </tr>
        <% } %>
        <form action="/adaugaAutorCarte" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idAutor" required>
                    </td>
                    <td>
                        <input type="text" name="idCarte" required>
                    </td>
                    <td>
                        <input type="text" name="pozAutor">
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>