<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <script src="../scripts/script.js"></script>
    <title>Autor</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <div class="tablediv">
    <table>
        <tr>
            <form id="sortDupaData" action="/sortDupaData" method="post"></form>
            <form id="sortDupaidAutor" action="/sortDupaidAutor" method="post"></form>
            <th>
                idAutor
                <input form="sortDupaidAutor" type="hidden" value="idAutor" name="criteriu">
                <%if(modSort_ui == 'asc') { %>
                <button form="sortDupaidAutor" name="mod" value="desc">↓</button>
                <%} else { %>
                <button form="sortDupaidAutor" name="mod" value="asc">↑</button>
                <%}%>
            </th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>
                Data Nașterii
                <input form="sortDupaData" type="hidden" value="DataNașterii" name="criteriu">
                <%if(modSortD_ui == 'asc') { %>
                <button form="sortDupaData" name="mod" value="desc">↓</button>
                <%} else { %>
                <button form="sortDupaData" name="mod" value="asc">↑</button>
                <%}%>
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% for(var i = 0; i < autori_ui.length; i++) { %>
            <tr>
                <form id="updateForm<%=i%>" action="/updateAutor" method="post"></form>
                <form id="deleteForm<%=i%>" action="/deleteAutor" method="post"></form>
                <form action="views/autor" method="post"></form>
                    <td>
                        <p id="idAutor<%=i%>"><%=autori_ui[i].idAutor %></p> 
                        <input form="updateForm<%=i%>" type="text" name="idAutor" style="display: none" id="idAutorE<%=i%>" value=<%=autori_ui[i].idAutor %>>
                        <input form="updateForm<%=i%>" type="hidden" name="idAutorV" value=<%=autori_ui[i].idAutor%>>
                        <input form="deleteForm<%=i%>" type="hidden" name="idAutorV" value=<%=autori_ui[i].idAutor%>>
                    </td>
                    <td>
                        <p id="Nume<%=i%>"><%=autori_ui[i].Nume %></p>
                        <input form="updateForm<%=i%>" type="text" name="Nume" style="display: none" id="NumeE<%=i%>" value=<%=autori_ui[i].Nume %>>

                    </td>
                    <td>
                        <p id="Prenume<%=i%>"><%=autori_ui[i].Prenume %></p>
                        <input form="updateForm<%=i%>" type="text" name="Prenume" style="display: none" id="PrenumeE<%=i%>" value=<%=autori_ui[i].Prenume %>>
                    </td>
                    <% if(autori_ui[i].DataNașterii == null) { %>
                        <td> 
                            <input type="date" form="updateForm<%=i%>" name="DataNașterii" style="display: none;" id="DataNașteriiE<%=i%>">
                        </td>
                    <% } else { %>
                        <td>
                            <p id="DataNașterii<%=i%>"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(autori_ui[i].DataNașterii)) %></p>
                            <input type="date" form="updateForm<%=i%>" name="DataNașterii" style="display: none;" id="DataNașteriiE<%=i%>">
                        </td>
                    <% } %>
                    <td>
                        <button form="updateForm<%=i%>" type="button" onclick="showEditA('<%= i %>')" id="editB<%=i%>">EDIT</button>
                        <button type="submit" form="updateForm<%=i%>" style="display: none;" id="saveB<%=i%>">SAVE</button>
                        <button form="updateForm<%=i%>" type="button" style="display: none;" onclick="closeEditA('<%= i %>')" id="cancelB<%=i%>">CANCEL</button>
                    </td>
                    <td>
                        <button form="deleteForm<%=i%>">X</button>
                    </td>
            </tr>
        <% } %>
        <form action="/adaugaAutor" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idAutor" required>
                    </td>
                    <td>
                        <input type="text" name="Nume" required>
                    </td>
                    <td>
                        <input type="text" name="Prenume" required>
                    </td>
                    <td>
                        <input type="date" name="DataNașterii">
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
    </div>
</body>
</html>