<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Categorie</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <div class="tablediv">
    <table>
        <tr>
            <th>idCategorie</th>
            <th>Nume Categorie</th>
            <th>Delete</th>
        </tr>
        <% for(var i = 0; i < categorii_ui.length; i++) { %>
            <tr>
                <form id="deleteForm<%=i%>" action="/deleteCategorie" method="post"></form>
                <form action="views/categorie" method="post"></form>
                    <td>
                        <%=categorii_ui[i].idCategorie %>
                        <input form="deleteForm<%=i%>" name="idCategorieV" type="hidden" value="<%=categorii_ui[i].idCategorie %>">
                    </td>
                    <td>
                        <%=categorii_ui[i].numeCategorie %>
                    </td>
                    <td>
                        <button form="deleteForm<%=i%>">X</button>
                    </td>
            </tr>
        <% } %>
        <form action="/adaugaCategorie" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idCategorie" required>
                    </td>
                    <td>
                        <input type="text" name="numeCategorie" required>
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
    </div>
</body>
</html>