<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>Caută</title>
</head>
<body>
    <form id="cautaCarte" action="/cautaCarte" method="post"></form>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
        <br><br>
        <label for="gen" class="color">Gen </label>
        <br>
        <select form="cautaCarte" name="gen" id="gen" required>
            <% for(var i = 0; i < gen_ui.length; i++) { %>
                <option value="<%=gen_ui[i].numeGen%>"><%=gen_ui[i].numeGen%></option>
            <% } %>
            <option selected="selected"></option>
        </select>
        <br>
        <label for="categorie" class="color">Categorie </label>
        <br>
        <select form="cautaCarte" name="categorie" id="categorie" required>
            <% for(var i = 0; i < categ_ui.length; i++) { %>
                <option value="<%=categ_ui[i].numeCategorie%>"><%=categ_ui[i].numeCategorie%></option>
            <% } %>
            <option selected="selected"></option>
        </select>
        <br>
        <label for="limba" class="color">Limbă </label>
        <br>
        <select form="cautaCarte" name="limba" id="limba" required>
            <% for(var i = 0; i < limba_ui.length; i++) { %>
                <option value="<%=limba_ui[i].numeLimbă%>"><%=limba_ui[i].numeLimbă%></option>
            <% } %>
            <option selected="selected"></option>
        </select>
        <br>
        <label for="locatie" class="color">Locație </label>
        <br>
        <select form="cautaCarte" name="locatie" id="locatie" required>
            <% for(var i = 0; i < locație_ui.length; i++) { %>
                <option value="<%=locație_ui[i].Cameră%>"><%=locație_ui[i].Cameră%></option>
            <% } %>
            <option selected="selected"></option>
        </select>
        <br>
        <label for="Titlu" class="color">Titlu </label>
        <br>
        <input form="cautaCarte" type="text" name="Titlu" class="margin">
        <br>
        <label for="Nume" class="color">Nume Autor </label>
        <br>
        <input form="cautaCarte" type="text" name="Nume" class="margin">
        <br>
        <label for="Prenume" class="color">Prenume Autor </label>
        <br>
        <input form="cautaCarte" type="text" name="Prenume" class="margin">
        <br>
        <label for="Editură" class="color">Editură </label>
        <br>
        <input form="cautaCarte" type="text" name="Editură" class="margin">
        <br>
        <label for="ISBN" class="color">ISBN </label>
        <br>
        <input form="cautaCarte" type="text" name="ISBN" class="margin">
        <br>
        <input form="cautaCarte" type="submit" class="margin" value="Caută">
    </div>
    <div class="tablediv">
        <table>
            <tr>
                <th>ISBN</th>
                <th>Titlu</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Editură</th>
                <th>Cameră</th>
                <th>Limbă</th>
                <th>Categorie</th>
                <th>Gen</th>
                <th>Nr.Pagini</th>
            </tr>
            <% if(cauta_ui != null) { for(var i = 0; i < cauta_ui.length; i++) { %>
                <tr>
                    <td>
                        <%=cauta_ui[i].ISBN %>
                    </td>
                    <td>
                        <%=cauta_ui[i].Titlu %>
                    </td>
                    <td>
                        <%=cauta_ui[i].Nume %>
                    </td>
                    <td>
                        <%=cauta_ui[i].Prenume %>
                    </td>
                    <td>
                        <%=cauta_ui[i].numeEditură %>
                    </td>
                    <td>
                        <%=cauta_ui[i].Cameră %>
                    </td>
                    <td>
                        <%=cauta_ui[i].numeLimbă %>
                    </td>
                    <td>
                        <%=cauta_ui[i].numeCategorie %>
                    </td>
                    <td>
                        <%=cauta_ui[i].numeGen %>
                    </td>
                    <td>
                        <%=cauta_ui[i].nrPagini %>
                    </td>
                </tr>
            <% } } %>
        </table>
    </div>
</body>
</html>