<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>GenCarte</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <div class="tablediv">
    <table>
        <tr>
            <th>idGen</th>
            <th>idCarte</th>
            <th>pozGen</th>
            <th>Delete</th>
        </tr>
        <% for(var i = 0; i < gencarte_ui.length; i++) { %>
            <tr>
                <form id="deleteForm<%=i%>" action="/deleteGenCarte" method="post"></form>
                <form action="views/gencarte" method="post"></form>
                    <td>
                        <%=gencarte_ui[i].idGen %>
                        <input type="hidden" form="deleteForm<%=i%>" name="idGenV" value="<%=gencarte_ui[i].idGen %>">
                    </td>
                    <td>
                        <%=gencarte_ui[i].idCarte %>
                        <input type="hidden" form="deleteForm<%=i%>" name="idCarteV" value="<%=gencarte_ui[i].idCarte %>">
                    </td>
                    <td>
                        <%=gencarte_ui[i].pozGen %>
                    </td>
                    <td>
                        <button form="deleteForm<%=i%>">X</button>
                    </td>
            </tr>
        <% } %>
        <form action="/adaugaGenCarte" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="idGen" required>
                    </td>
                    <td>
                        <input type="text" name="idCarte" required>
                    </td>
                    <td>
                        <input type="text" name="pozGen">
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
    </div>
</body>
</html>