<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>InstanțăCarte</title>
</head>
<body>
    <div class="container">
        <a href="/views/index.ejs" class="home">HOME</a>
    </div>
    <div class="tablediv1">
    <table>
        <tr>
            <th>ISBN</th>
            <th>idCarte</th>
            <th>idEditură</th>
            <th>idLocație</th>
            <th>idLimbă</th>
            <th>nrPagini</th>
            <th>Delete</th>
        </tr>
        <% for(var i = 0; i < instantacarte_ui.length; i++) { %>
            <tr>
                <form id="deleteForm<%=i%>" action="/deleteInstantaCarte" method="post"></form>
                <form action="views/instantacarte" method="post"></form>
                    <td>
                        <%=instantacarte_ui[i].ISBN %>
                        <input type="hidden" form="deleteForm<%=i%>" name="ISBNV" value="<%=instantacarte_ui[i].ISBN %>">
                    </td>
                    <td>
                        <%=instantacarte_ui[i].idCarte %>
                    </td>
                    <td>
                        <%=instantacarte_ui[i].idEditură %>
                    </td>
                    <td>
                        <%=instantacarte_ui[i].idLocație %>
                    </td>
                    <td>
                        <%=instantacarte_ui[i].idLimbă %>
                    </td>
                    <td>
                        <%=instantacarte_ui[i].nrPagini %>
                    </td>
                    <td>
                        <button form="deleteForm<%=i%>">X</button>
                    </td>
            </tr>
        <% } %>
        <form action="/adaugaInstantaCarte" method="post">
            <tr>
                
                    <td>
                        <input type="text" name="ISBN" required>
                    </td>
                    <td>
                        <input type="text" name="idCarte" required>
                    </td>
                    <td>
                        <input type="text" name="idEditură" required>
                    </td>
                    <td>
                        <input type="text" name="idLocație" required>
                    </td>
                    <td>
                        <input type="text" name="idLimbă" required>
                    </td>
                    <td>
                        <input type="text" name="nrPagini">
                    </td>
            </tr>
            <tr>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit"></td>
                <td class="submit">
                    <input type="submit" class="button" value="Adauga">
                </td>
            </tr>
        </form>
    </table>
    </div>
</body>
</html>